<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h1>Contact Me</h1>

            <div >
                <h3 >EMAIL</h3>
                <span >aks@mail.com</span>

                <h3 >PHONE</h3>
                <span>+9969690081</span>

            </div>
</body>
</html>
